
.banner{
    background: linear-gradient(rgba(5,7,12,0.55),rgba(5,7,12,0.25)),url(../fotos/banner1.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner h1{
    color: #fff;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    .banner img{
        padding-top: 10vh;
        justify-content: center;
        align-items: center;
        display: block;
        margin: 0px auto;
        width: 50em;
        }

        .banner2{
            background: linear-gradient(rgba(5,7,12,0.55),rgba(5,7,12,0.25)),url(../fotos/Banner2IMG.png);
            height: 40vh;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

        .banner2 h1{
            color: #fff;
            display: block;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 15vh 0px;
            }